<%= stylesheet_link_tag "signup" %>
<div class="hero is-fullheight is-info">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-5 box">
					<div class="has-text-centered">
						<h3 class="title has-text-grey-dark">SIGNUP</h3>
					</div>
					<hr>
					<div class=has-text-centered>
						<% flash.each do |type, msg| %>
						  <div class="error">
						    <%= msg %>
						  </div>
						<% end %>
					</div>
					<%= form_with(model: @user,url: signup_path, method: :post) do |f| %>
						<div class="field">
							<%= f.label :username, "Username", class: "label"%>
							<%@user.errors.full_messages_for(:username).each do |message| %>
								<div class="error">
									* <%=  message %>
								</div>
							<% end %>
							<div class="control has-icons-left">
								<%= f.text_field :username, class:"input" %>
								<span class="icon is-small is-left">
									<i class="fa fa-user"></i>
								</span>
							</div>	
						</div>
						<div class="field">
							<%= f.label :emal, "email", class: "label"%>
							<%@user.errors.full_messages_for(:email).each do |message| %>
								<div class="error">* <%= message %></div>
							<% end %>
							<div class="control has-icons-left">
								<%= f.email_field :email, class:"input" %>
								<span class="icon is-small is-left">
									<i class="fa fa-envelope"></i>
								</span>
							</div>	
						</div>
						<div class="field">
							<%= f.label :password, "Password", class: "label"%>
							<%@user.errors.full_messages_for(:password).each do |message| %>
								<div class="error">* <%= message %></div>
							<% end %>
							<div class="control has-icons-left">
								<%= f.password_field :password, class:"input" %>
								<span class="icon is-small is-left">
									<i class="fa fa-lock"></i>
								</span>
							</div>	
						</div>
						<div class="field">
							<%= f.label :password_confirmation, "Confirm Password", class: "label"%>
							<%@user.errors.full_messages_for(:password_confirmation).each do |message| %>
								<div class="error">* <%= message %></div>
							<% end %>
							<div class="control has-icons-left">
								<%= f.password_field :password_confirmation, class:"input" %>
								<span class="icon is-small is-left">
									<i class="fa fa-lock"></i>
								</span>
							</div>	
						</div>
						<div class="field">
							<div class="control">
								<%= f.submit "Signup", class:"button is-success is-fullwidth" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>